# Build the linear regression model using scikit learn in boston data to predict 'Price' based on other dependent variable.

In [37]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
from sklearn.datasets import load_boston
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [2]:
boston = load_boston()

In [3]:
bos = pd.DataFrame(boston.data,columns=['A', 'B', 'C', 'D','E','F','G','H','I','J','K','L','Price'])
bos.head()

,A,B,C,D,E,F,G,H,I,J,K,L,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
bos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       506 non-null    float64
 1   B       506 non-null    float64
 2   C       506 non-null    float64
 3   D       506 non-null    float64
 4   E       506 non-null    float64
 5   F       506 non-null    float64
 6   G       506 non-null    float64
 7   H       506 non-null    float64
 8   I       506 non-null    float64
 9   J       506 non-null    float64
 10  K       506 non-null    float64
 11  L       506 non-null    float64
 12  Price   506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [5]:
bos.shape

(506, 13)

# Preparing X and Y

In [6]:
x= bos.drop(["Price"], axis = 1)

In [7]:
x.head()

,A,B,C,D,E,F,G,H,I,J,K,L
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90

In [8]:
y = bos["Price"]

In [9]:
y.head()

0    4.98
1    9.14
2    4.03
3    2.94
4    5.33
Name: Price, dtype: float64

In [10]:
x.shape

(506, 12)

In [11]:
y.shape

(506,)

# Splitting Data into Training and Testing Sets

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3 , random_state=100)

In [13]:
x_train.head()

,A,B,C,D,E,F,G,H,I,J,K,L
463,5.82115,0.0,18.10,0.0,0.713,6.513,89.9,2.8016,24.0,666.0,20.2,393.82
75,0.09512,0.0,12.83,0.0,0.437,6.286,45.0,4.5026,5.0,398.0,18.7,383.23
478,10.23300,0.0,18.10,0.0,0.614,6.185,96.7,2.1705,24.0,666.0,20.2,379.70
199,0.03150,95.0,1.47,0.0,0.403,6.975,15.3,7.6534,3.0,402.0,17.0,396.90
84,0.05059,0.0,4.49,0.0,0.449,6.389,48.0,4.7794,3.0,247.0,18.5,396.90

In [14]:
y_train.head()

463    10.29
75      8.94
478    18.03
199     4.56
84      9.62
Name: Price, dtype: float64

In [15]:
x_test.head()

,A,B,C,D,E,F,G,H,I,J,K,L
198,0.03768,80.0,1.52,0.0,0.404,7.274,38.3,7.3090,2.0,329.0,12.6,392.20
229,0.44178,0.0,6.20,0.0,0.504,6.552,21.4,3.3751,8.0,307.0,17.4,380.34
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90
31,1.35472,0.0,8.14,0.0,0.538,6.072,100.0,4.1750,4.0,307.0,21.0,376.73
315,0.25356,0.0,9.90,0.0,0.544,5.705,77.7,3.9450,4.0,304.0,18.4,396.42

In [16]:
y_test.head()

198     6.62
229     3.76
502     9.08
31     13.04
315    11.50
Name: Price, dtype: float64

In [18]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(354, 12)
(354,)
(152, 12)
(152,)

# Performing Linear Regression

In [19]:
# import LinearRegression from sklearn
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# Representing LinearRegression as lr(Creating LinearRegression Object)
lr = LinearRegression()

# Fit the model using lr.fit()
model_fit = lr.fit(x_train, y_train)

In [21]:
model_fit.predict(x_train)

array([ 1.50398464e+01,  9.35657776e+00,  1.73795062e+01,  3.14163292e+00,
        8.49754890e+00,  1.62359342e+01,  1.32622884e+01,  2.01282640e+01,
        1.28936466e+01,  8.42075313e+00,  1.20417250e+01,  1.99836164e+01,
        7.56838713e+00,  9.56616061e+00,  2.22646006e+01,  6.91501772e+00,
        1.00453948e+01,  1.78997268e+01,  1.22705367e+01,  6.84312860e+00,
        1.08590209e+01,  3.44379588e+00,  6.00964523e+00,  4.97447514e+00,
        1.21540846e+01,  1.70290725e+01,  8.67600661e+00,  1.08549920e+01,
        3.63685636e+00,  1.67441725e+01,  9.08728920e+00,  1.35108895e+01,
        7.49900360e+00,  1.56621248e+01,  9.86122588e+00,  1.65921699e+01,
        4.02884096e+00,  1.72019420e+01,  5.94272082e+00,  2.00254225e+01,
        2.77575237e+01,  1.60277621e+01,  7.13517150e+00,  1.94506246e+01,
        1.81620299e+01,  2.85804304e+01,  1.21335223e+01,  1.54224654e+01,
        1.81884479e+01,  1.78375236e+01,  9.27827701e+00,  9.91546848e+00,
        1.32326461e+01,  6.54794608e+00,  1.26144890e+01,  1.76575241e+01,
        1.46382739e+01,  2.02689640e+01,  9.86094637e+00,  8.65177361e+00,
        1.37588861e+01,  1.55253117e+01,  2.00077971e+01,  1.73799036e+01,
        1.10838381e+01,  1.44099087e+01,  1.28642464e+01,  8.68784397e+00,
        1.39671270e+01,  1.19028878e+01,  2.06441730e+01,  8.63752434e+00,
        2.09047583e+01,  1.04215680e+01,  9.25689330e+00,  1.06951126e+01,
        1.37593664e+01,  4.49340345e+00,  1.48201460e+01,  2.10516197e+01,
        1.10082599e+01,  3.09436225e+01,  1.21293376e+01,  1.53345396e+01,
        2.19439053e+01,  1.61494121e+01,  4.32498304e+00,  1.24713831e+01,
        2.83427881e+01,  5.81796678e+00,  1.71977695e+00,  8.32228472e+00,
        6.08285987e+00,  2.03911807e+01,  2.75838712e+00,  1.40484083e+01,
        8.26438628e+00,  9.51537330e+00,  1.13003526e+01,  2.32399402e+01,
        1.92294728e+01,  6.63502529e+00,  1.71149531e+01,  1.19636003e+01,
        1.29107841e+01,  4.92268814e-01,  5.23684905e+00,  1.48430880e+01,
        1.82682572e+01,  1.67899117e+01,  1.36443798e+01,  8.65998241e+00,
        1.17860073e+01,  6.87398538e+00,  1.61337310e+01,  6.22255389e+00,
        1.90864052e+01,  1.33507811e+01,  8.59201655e+00,  2.65306589e+01,
        1.53432206e+01,  1.46000241e+01,  1.35715417e+01,  8.12963385e+00,
        8.60632061e+00,  1.66804295e+01,  6.44958703e+00,  1.59943612e+01,
        1.94401246e+01,  7.77748581e+00,  1.07263899e+01,  1.15609775e+01,
        2.56200650e+01,  1.65473398e+01,  9.16635599e+00,  1.40469533e+01,
        1.13535226e+01,  1.45541079e+01,  9.98700940e+00,  9.93896386e+00,
        6.44799894e+00,  9.81258862e+00,  2.37793080e+01,  9.77046293e+00,
        2.50742692e+01,  2.17430676e+01,  1.51423771e+01,  1.45460766e+01,
        2.11876443e+01,  1.02482622e+01,  6.33193506e+00,  1.02232823e+01,
        7.15559366e+00,  1.53905642e+01,  8.84621338e+00,  1.45157350e+01,
        1.58798927e+01,  1.38184312e+01,  5.22079204e+00,  5.25254174e+00,
        9.98190970e+00,  1.31690551e+01,  7.78032944e+00,  2.34554010e+01,
        1.24444473e+01,  1.84284090e+01,  5.53893907e+00,  3.10757980e+00,
        1.76618562e+01,  1.52660068e+01,  1.61102338e+01,  1.92225920e+01,
        2.92671409e+01,  1.48481045e+01,  1.82756112e+01,  1.89171862e+01,
        1.41873664e+01,  1.46980148e+01,  3.61945847e+00,  1.57578788e+01,
        1.59306560e+01,  2.09789131e+01,  2.27532193e+01,  1.61141080e+01,
        2.05545377e+01,  9.91561897e+00,  1.55072409e+01,  1.66882491e+01,
        2.22169799e+01,  1.09139407e+01,  8.73125151e+00,  2.65321829e+00,
        6.26468373e+00,  2.08287337e+01,  7.45235711e+00,  1.55072223e+01,
        9.97647319e+00,  1.04836359e+01,  5.32937973e+00,  2.14935731e+01,
        2.42422488e+00,  8.88736566e+00,  1.73385571e+01,  4.82956038e+00,
        1.07380088e+01,  9.16497957e+00,  8.60771084e+00,  1.31523321e+01,
        7.92234720e+00,  1.07358367e+01,  9.75518029e+00,  4.32587835e+00,
        6.13621354e+00,  7.45922106e+00,  1.80278454e+01,  5.82566139e+00,
        1.22226642e+01,  9.62451616e+00,  8.67628732e+00,  8.64813589e+00,
        1.29273282e+01,  7.15434203e+00,  2.24546300e+00,  1.15943157e+01,
        1.81875787e+01,  1.55258468e+01,  1.73454717e+01,  3.68307928e+00,
        4.75169895e+00,  1.50463453e+01, -1.89717419e+00,  6.26063181e+00,
        3.30041927e+00,  1.35791666e+01,  1.08588612e+01,  1.69343027e+01,
        5.93802766e+00,  3.60854420e+00,  1.51637336e+01,  1.20897948e+01,
        6.86617363e+00,  1.21279604e+01,  1.29188491e+01,  6.89903035e+00,
        1.22514272e+01,  7.81512337e+00,  1.21702848e+01,  1.77542579e+01,
        1.46780110e+01,  1.35421061e+01,  1.04705485e+01,  8.94608246e+00,
        1.03407884e+01,  7.33829928e+00,  1.24498284e+01,  2.79187573e+00,
        5.16817237e+00,  9.67205153e+00,  1.65258781e+01,  1.80727483e+01,
        9.74874615e+00,  1.19155625e+01,  1.45600566e+01,  1.17312157e+01,
        1.85782503e+01,  5.45241503e+00,  1.54789744e+01,  2.05750234e+01,
        1.12376714e+01,  1.53354282e+01,  8.58387838e+00,  9.34388316e+00,
        1.72454446e+01,  7.53405159e+00,  1.13290770e+01,  1.01883518e+01,
        1.43344363e+01,  1.70548997e+01,  1.48067985e+01,  1.26532630e+01,
        7.06074784e+00,  3.14431334e+00, -3.89967522e-03,  3.20534423e+01,
        2.94531740e+00,  5.27526141e+00,  1.52366796e+01,  1.10424257e+01,
        2.78703014e+01,  1.70479753e+01,  3.63756335e+00,  1.46931978e+01,
        3.35695507e+01,  1.36409872e+01,  6.12539004e+00,  1.45462226e+01,
       -7.57328999e-01,  1.03456269e+01,  8.16516317e+00,  2.31974005e+01,
        1.51710041e+01,  1.45893493e+01,  6.65995856e+00,  1.15871437e+01,
        5.97859326e+00,  1.79189569e+01,  1.17077431e+01,  1.11629142e+01,
        1.42194932e+01,  3.33835352e+00,  1.71697278e+01,  1.41814603e+01,
        1.53642462e+01,  1.06104920e+01,  1.66575802e+01,  1.00815542e+01,
        5.92429070e+00,  9.88667207e+00,  1.67899334e+01,  1.55125590e+01,
        2.13281296e+01,  2.24604643e+01,  2.15226034e+01,  2.43346037e+01,
        3.36905740e+00,  1.79288782e+01,  2.65728119e+01,  9.79154386e+00,
        9.16974918e+00,  1.47474580e+01,  2.07326773e+01,  9.57965991e+00,
        1.47794895e+01,  1.75337595e+01,  1.38881878e-01,  2.01242698e+01,
        1.13725396e+01,  7.57343309e+00,  5.61708308e+00,  1.42363171e+01,
        4.97280090e+00,  1.01310495e+01,  8.76330925e+00,  1.14090675e+01,
        2.05018406e+01,  8.19563062e+00,  1.89884441e+01,  1.64720962e+01,
        1.02672963e+01,  8.28924422e+00,  1.59390862e+01,  1.47465437e+01,
        3.90898788e+00,  1.78866075e+01])

In [35]:
y_pred = lr.predict(x_test)

In [39]:
print('MSE test: %.3f' % (
        #mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_pred)))
print('R^2 test: %.3f' % (
      #  r2_score(y_train, y_train_pred),
        r2_score(y_test, y_pred)))

MSE test: 17.687
R^2 test: 0.590